@import 'variables'

body
  background-color: $cultured
  font-family: 'Roboto', sans-serif
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 20px
  color: $black

  &._lock
    overflow: hidden
    height: 100vh
    width: 100vw

h2
  font-weight: 600
  font-size: 32px
  line-height: 36px

h3
  font-weight: 600
  font-size: 22px
  line-height: 28px

ul, li
  list-style: none
  padding: 0
  margin: 0

a
  text-decoration: none
  color: inherit

a.link
  display: inline-block
  padding-bottom: 2px
  border-bottom: 1px solid $slate-blue
  color: $slate-blue
  text-decoration: none
  transition: all .3s ease

  &:hover
    color: lighten($slate-blue, $darkMulti)
    border-color: lighten($slate-blue, $darkMulti)

.vm--modal
  padding: 24px
  border-radius: $border-radius-root !important

.fade-enter-active, .fade-leave-active
  transition: opacity .3s

.fade-enter, .fade-leave-to
  opacity: 0

.slide-fade-enter-active,
.slide-fade-leave-active
  transition: all 0.2s ease-out

.slide-fade-enter,
.slide-fade-leave-to
  transform: translateX(-60px)
  opacity: 0

  @media (max-width: $sidebarMaxRange)
    transform: none
