@import 'variables'

body
  background-color: $cultured
  font-family: 'Roboto', sans-serif
  font-style: normal
  font-weight: 400
  font-size: 16px
  line-height: 20px
  color: $black

h2
  font-weight: 600
  font-size: 22px
  line-height: 28px
